services:
  - type: web
    name: discovr-api
    runtime: node
    plan: free
    buildCommand: npm install
    startCommand: npm run start
    envVars:
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        sync: false
    autoDeploy: true

  - type: worker
    name: discovr-scheduler
    runtime: node
    plan: free
    buildCommand: npm install && npx playwright install chromium --with-deps
    startCommand: node scheduler.js
    autoDeploy: true
